.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.bg-orange {
  background: #fbca11;
  clear: both;
}

.bg-green {
  background: #00a3a8;
  clear: both;
}

.faq-title {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
}
.btn.btn-orange {
    background: #fbca11;
    font-size: 21px;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}
.btn.btn-orange:hover {
    background: #FFF;
    color: #fbca11;
}

.btn.btn-green {
    background: #00a3a8;
    font-size: 21px;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}

.btn.btn-green:hover {
    background: #FFF;
    color: #00a3a8;
}

.full-btn {
    width: 100%;
}
.shadows {
    text-transform: uppercase;
    color: #FFF;
    font-size: 21px;
    text-shadow: 0 3px 5px #000, 0 3px 5px #000;
}