
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1>{{$ctrl.ideaDetails.name}}</h1>
        <h1>hello: {{ $ctrl.getCurrentUser().name }} </h1>
        <p>Monetary Reward: $ {{$ctrl.ideaDetails.monetaryRewards}}</p>
        <p><code>by {{$ctrl.ideaDetails.user.name}}</code></p>
        <p>{{$ctrl.ideaDetails.info}}</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Vote</a>
          <a class="btn btn-lg btn-primary" href="#" role="button" ng-if="$ctrl.isContestOwner()">Edit</a>
        </p>
      </div>
    </div>
  </div>
  
  <!-- tools admin has to edit each their contest   -->
  <div ng-show="$ctrl.isContestOwner()">
    <div class="container">
<div class="row">
  <div class="col-lg-12">
    <form class="campaign-form form-horizontal well">
      <fieldset>
      
      <!-- Form Name -->
      <legend>Edit Contest {{ $ctrl.getCurrentUser().name }}</legend>
        <p class="input-group">
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Contest Name</label>  
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="$ctrl.updatedCampaign" ng-model="hello">
            </div>
          </div>
          
          <!-- File Button --> 
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Add Image</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file" ng-model="$ctrl.updateCampaignImage">
            </div>
          </div>
        
          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Contest Description</label>
            <div class="col-md-4">                     
              <textarea class="form-control" id="textarea" name="textarea" ng-model="$ctrl.updateCampaignInfo">Add a description</textarea>
            </div>
          </div>
          
          <!-- Multiple Radios -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Privacy</label>
            <div class="col-md-4">
            <div class="radio">
              <label for="radios-0">
                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                Public
              </label>
          	</div>
            <div class="radio">
              <label for="radios-1">
                <input type="radio" name="radios" id="radios-1" value="2">
                Invite Only
              </label>
          	</div>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Contest privacy" ng-model="$ctrl.updateCampaignPrivacy">
          
          <!-- File Button --> 
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Add Files</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file" ng-model="$ctrl.updateCampaignRewards">
            </div>
          </div>
          
          <!-- File Button --> 
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Add Rewards</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file" ng-model="$ctrl.updateCampaignDoc">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="MonetaryRewards">Monetary Rewards</label>  
            <div class="col-md-4">
            <input id="MonetaryRewards" name="MonetaryRewards" type="number" class="form-control input-md" ng-model="$ctrl.updateCampaignMonetaryRewards">
            </div>
          </div>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateCampaign()">Update</button>
          </span>
        </p>
      </fieldset>
    </form>
    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="campaign in $ctrl.campaigns">
      <li><a href="contest/{{campaign._id}}" uib-tooltip="{{campaign.info}}">{{campaign.user.name}} - {{campaign.name}} - {{commentsLength.length}} 
      <button ng-if="isMyItem(campaign)" type="button" class="close" ng-click="$ctrl.deleteCampaign(campaign)">&times;</button></a></li>
    </ul>
  </div>
</div>
</div>
  </div>
  
  <div class="col-lg-12">
    <h1 class="page-header">Comments:</h1>
    <form class="thing-form form-horizontal well">
      <p class="input-group">
        
        <input id="txtComment" type="text" class="form-control" placeholder="Write your comment" ng-model="$ctrl.newComment">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.addComment()">Add New</button>
        </span>
      </p>
    </form>
    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="comment in $ctrl.comments">
      <li><a href="#" uib-tooltip="{{comment.idea}}">{{comment.user}} - {{comment.comment}}
      <button ng-if="isMyItem(comment)" type="button" class="close" ng-click="$ctrl.deleteComment(comment)">&times;</button></a><button  ng-click="$ctrl.createResponse(comment)" >Reply </button></li>
    </ul>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Ideas:</h1>
    <form class="thing-form form-horizontal well">
      
      <fieldset>
      
      <!-- Form Name -->
      <legend>New Idea</legend>
        <p class="input-group">
          
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Idea Title</label>  
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="What's your bright idea?" class="form-control input-md" ng-model="$ctrl.newThing">
            </div>
          </div>
          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Pitch</label>
            <div class="col-md-4">                     
              <textarea class="form-control" id="textarea" name="textarea" ng-model="$ctrl.newThingInfo">Add a description</textarea>
            </div>
          </div>
          
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
          </span>
        </p>
        
      </fieldset>
    </form>
    <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-repeat="thing in $ctrl.awesomeThings">
      <li>
        <div class="profile-idea-box">
          <div class="top-idea">
            <a class="profile-idea-title" href="idea/{{thing._id}}" uib-tooltip="{{thing.info}}">{{thing.name}}</a>
            <p class="user-title">IDEA  <i class="fa fa-caret-right fa-lg"> </i> {{thing.user.name}}</p> 
            <p>{{thing.info}}</p>
            <div class="timestamp">
              {{thing.createdAt}}
            </div>
            <div class="soc">
            <span>Share: </span>
              <a target="_blank" href="javascript:;" onclick="window.open('http://twitter.com/home?status=MicroProduction+https://www.ideaprairie.com/users/microproduction/','','statusbar=0,toolbar=0,scrollbars=0,resizable=1,width=700,height=550'); return false" class="social-link social-twitter">twitter</a>
              <a target="_blank" href="javascript:;" onclick="window.open('http://www.facebook.com/share.php?u=https://www.ideaprairie.com/users/microproduction/&amp;title=MicroProduction','','statusbar=0,toolbar=0,scrollbars=0,resizable=1,width=700,height=550'); return false" class="social-link social-facebook">facebook</a>
            </div>
          </div>
            
                          
          <div class="pitch-box-top">
            <div class="watch-action">
              <div class="watch-position align-right">
                <div class="action-like">
                  <a class="lbg-style4 like-1856 jlk" data-task="like" data-post_id="1856" data-nonce="43657a34b5" rel="nofollow">
                    <!--<img src="https://www.ideaprairie.com/users/wp-content/plugins/bright-dim/images/pixel.gif" title="Bright">-->
                    
                    <button type="submit" class="btn btn-success" ng-click="$ctrl.addFeedback('Bright', thing._id)">Bright</button>
                    <span class="lc-1856 lc">4</span>
                  </a>
                </div>
                <div class="action-unlike">
                  <a class="unlbg-style4 unlike-1856 jlk" data-task="unlike" data-post_id="1856" data-nonce="43657a34b5" rel="nofollow">
                    <!--<img src="https://www.ideaprairie.com/users/wp-content/plugins/bright-dim/images/pixel.gif" title="Dim">-->
                    <button type="submit" class="btn btn-danger" ng-click="$ctrl.addFeedback('Dim', thing._id)">Dim</button>
                    <span class="unlc-1856 unlc">0</span></a>
                </div> 
              </div> 
            </div>
          </div>
        </div>
        <button ng-if="isMyItem(thing)" type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></span>
      </li>
    </ul>
  </div>
</div>
</div>